@font-face {
	font-family: 'Sfotipy';
	src:url('fonts/Sfotipy.eot?-fjvgub');
	src:url('fonts/Sfotipy.eot?#iefix-fjvgub') format('embedded-opentype'),
		url('fonts/Sfotipy.woff?-fjvgub') format('woff'),
		url('fonts/Sfotipy.ttf?-fjvgub') format('truetype'),
		url('fonts/Sfotipy.svg?-fjvgub#Sfotipy') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Sfotipy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
	content: "\e604";
}
.icon-lock:before {
	content: "\e605";
}
.icon-mail:before {
	content: "\e606";
}
.icon-pause:before {
	content: "\e607";
}
.icon-play:before {
	content: "\e608";
}
.icon-random:before {
	content: "\e609";
}
.icon-search:before {
	content: "\e60a";
}
.icon-sfotipy:before {
	content: "\e60b";
}
.icon-share:before {
	content: "\e60c";
}
.icon-mute:before {
	content: "\e60d";
}
.icon-sound:before {
	content: "\e60e";
}
.icon-user:before {
	content: "\e60f";
}
.icon-add:before {
	content: "\e610";
}
.icon-next:before {
	content: "\e611";
}
.icon-prev:before {
	content: "\e612";
}
.icon-left:before {
	content: "\e613";
}
.icon-menu:before {
	content: "\e614";
}
